<nz-card [nzTitle]="articlesTemplate">
  <sf-article-table
    [sfArticles]="__articles$$"
    (sfOnArticleClick)="__onArticleClicked($event)"
  ></sf-article-table>
</nz-card>
<pre> articles {{ __articles$$ | json }}</pre>
<pre> articles {{ __loading$$ | json }}</pre>
<nz-card [nzTitle]="tripsTemplate">
  <sf-trip-table
    [sfTrips]="__articles$$ | sfBackofficeFilterOutTrips"
    (sfOnTripClick)="__onTripClicked($event)"
  ></sf-trip-table>
</nz-card>

<ng-template #articlesTemplate>
  <sf-icon-and-text
    [sfIcon]="__icons.posts"
    [sfText]="'Posty'"
  ></sf-icon-and-text>
</ng-template>

<ng-template #tripsTemplate>
  <sf-icon-and-text
    [sfIcon]="__icons.trips"
    [sfText]="'Wyprawy'"
  ></sf-icon-and-text>
</ng-template>
