<nz-card [nzTitle]="postTemplate" [nzExtra]="article()?.Id ? extraTemplate : undefined" [nzBordered]="false">
  @if (loading()) {
    <div class="loading-container">
      loading
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  } @else {
    <sf-article-form
      [sfArticle]="article()"
      [sfLoading]="loading()"
    ></sf-article-form>

    <sf-button
      [sfButtonText]="article()?.Id ? 'Zapisz zmiany' : 'Utwórz nowy'"
      (sfOnButtonClicked)="article()?.Id ? onSaveClick() : onCreateClick()"
    ></sf-button>
  }
</nz-card>

<ng-template #postTemplate>
  <sf-icon-and-text
    [sfText]="'Post'"
    [sfIcon]="icons.post"
  ></sf-icon-and-text>
</ng-template>

<ng-template #extraTemplate>
  <div class="remove-button"
       nz-tooltip
       [nzTooltipColor]="'white'"
       [nzTooltipTrigger]="'click'"
       [nzTooltipTitle]="removeConfirmation"
       [nzTooltipPlacement]="'left'"
  >
    <sf-icon-and-text
      [sfText]="'Usuń'"
      [sfIcon]="icons.delete"
    ></sf-icon-and-text>
  </div>
  <ng-template #removeConfirmation>
    <div class="tooltip">
      <div class="tooltip-content">Napewno chcesz usunąć?</div>
      <div class="buttons">
        <button
          nz-button
          [nzType]="'default'"
          [nzSize]="'small'"
        >Anuluj
        </button>
        <button
          nz-button
          [nzType]="'primary'"
          [nzDanger]="true"
          [nzSize]="'small'"
          (click)="removeArticle(article()?.Id)"
        >Usuń
        </button>
      </div>
    </div>
  </ng-template>
</ng-template>
