.remove-button {
  border: 1px solid #030a22;
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #9a2424;
    border-color: #9a2424;
  }
}

.tooltip-content {
  color: black;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.tooltip {
  padding: 6px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
