.tooltip-content {
  color: black;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.tooltip {
  padding: 6px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
