<nz-card [nzTitle]="surveyTitleTemplate" [nzBordered]="false" [nzExtra]="surveyExtraTemplate">
  <sf-survey-form
    [sfTrips]="trips()"
    [sfSurvey]="survey()"
  ></sf-survey-form>
</nz-card>
<sf-button
  [sfButtonText]="survey()?.Id ? 'Zapisz ankietę' : 'Dodaj ankietę'"
  (click)="survey()?.Id ? onSaveSurvey() : onCreateSurvey()"
></sf-button>

<ng-template #surveyTitleTemplate>
  <sf-icon-and-text
    [sfText]="'Kreator ankiet'"
    [sfIcon]="icons.surveyAdd"
  ></sf-icon-and-text>
</ng-template>

<ng-template #surveyExtraTemplate>
  <div class="survey-preview"
       nz-tooltip
       [nzTooltipTitle]="'Kliknij, aby zobaczyć podgląd ankiety'"
       [nzTooltipPlacement]="'left'">
    <fa-icon [icon]="icons.preview" (click)="surveyModal.openSurveyModal()"></fa-icon>
  </div>
</ng-template>

<sf-survey-modal
  #surveyModal
  [sfSurvey]="survey()"
></sf-survey-modal>
