:host {
  width: 100%;
  height: 100%;
}

nz-header {
  width: 100%;
  display: flex;
  background-color: var(--header-dark-blue-color);
  align-items: center;
  padding: 3px 0;

  ul {
    cursor: pointer;

    li:hover {
      background-color: var(--header-hover-dark-blue-color);
    }
  }

  li {
    list-style: none;
    width: max-content;
    color: white;
    padding: 7px 15px 8px 15px;
  }

  .logotype {
    cursor: pointer;
    filter: invert();
    width: 190px;

    img {
      width: 100%;
      scale: 0.9
    }
  }

}

.main-layout {
  display: flex;
  flex-direction: row;
  background: var(--background-lighter-color);
}

sf-sider {
  background: var(--blue-sider-background-color);
}

nz-footer {
  background-color: var(--primary-color);
}
