<nz-layout class="container">
  <nz-header class="header">
    <img src="../assets/logotyp-superfemka.png" class="logo" alt="logo" [routerLink]="'./'"/>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-submenu [nzTitle]="addPostTemplate" (click)="createNewArticle()"></li>
      <li nz-submenu [nzTitle]="addTripTemplate" (click)="createNewTrip()"></li>
      <li nz-submenu [nzTitle]="addSurveyTemplate" (click)="createNewSurvey()"></li>
    </ul>
  </nz-header>
  <nz-layout class="main-layout">
    <sf-sider
      (sfOnElementClicked)="onElementIdClicked($event)"
    ></sf-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<ng-template #addPostTemplate>
  <sf-icon-and-text
    [sfIcon]="icons.add"
    [sfText]="'Utwórz wpis'"
  ></sf-icon-and-text>
</ng-template>

<ng-template #addTripTemplate>
  <sf-icon-and-text
    [sfIcon]="icons.add"
    [sfText]="'Utwórz wyprawę'"
  ></sf-icon-and-text>
</ng-template>

<ng-template #addSurveyTemplate>
  <sf-icon-and-text
    [sfIcon]="icons.add"
    [sfText]="'Utwórz ankietę'"
  ></sf-icon-and-text>
</ng-template>
