.container {
  width: 100%;
  background: #fff;
}

nz-header {
  width: 100%;
  display: flex;
  background-color: #11162A;
  align-items: center;
  padding: 3px 0;

  ul {
    cursor: pointer;
    li:hover {
      background-color: rgba(50, 59, 96, 0.61);
    }
  }

  li {
    list-style: none;
    width: max-content;
    color: white;
    padding: 7px 15px 8px 15px;
  }
}

nz-content {
  padding: 6px 24px;
  width: 100%;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

sf-sider {
  width: 230px;
  background: rgba(66, 77, 124, 0.61);
}

.logo {
  width: 175px;
  height: 45px;
  filter: invert();
}

nz-footer {
  background-color: #008f71;
}
